.box1{
				position:relative;
				width:100%;
				height:700px;
			}
			.box1-img{
				position:absolute;
				width:100%;
				height:100%;
			}
			.box1-span{
				position:absolute;
			}
			.box1-span1{
				color:#E8E8E8;
				font-size:200%;
				left:43%;
				top:150px;
			}
			.box1-span2{
				color:#A8A8A8;
				left:25%;
				right:25%;
				top:230px;
			}
			.box1-div{
				position:absolute;
				width:64%;
				height:200px;
				left:18%;
				top:370px;
				border:1px solid #B0B0B0;
				border-radius:2px;
			}
			.box1-span3{
				position:absolute;
				left:38%;
				top:30px;
				color:#E8E8E8;
				font-size:100%;
			}
			.box1-span4{
				position:absolute;
				left:42%;
				top:55px;
				color:#A0A0A0;
				font-size:70%;
			}
			.box1-input{
				position:absolute;
				width:30%;
				height:38px;
				border:1px solid #B0B0B0;
				border-radius:2px;
				background-color:transparent;
				top:120px;
				padding-left: 5px;
				color:#B0B0B0;
			}
			input:focus{outline:none;}
			.box1-input1{left:10%;}
			.box1-input2{left:45%}
			.box1-input3{
				right:10%;
				font-size:40%;
				background-color:white;
				width:10%;
				border:none
			}
			.box2{
				position:relative;
				width:100%;
				height:530px;
			}
			.box2-span{
				position:absolute;
				color:#484848;
			}
			.box2-span1{
				top:80px;
				font-size:60%;
				left:41%
			}
			.box2-span2{
				top:140px;
				font-size:220%;
				left:26%;
				font-weight:300;
			}
			.box2-span3{
				top:190px;
				font-size:220%;
				left:33%;
				font-weight:300;
			}
			.box2-img1{
				position:absolute;
				top:270px;
				left:18%;
				width:27px;
			}
			.box2-span4{
				top:267px;
				left:22%
			}
			.box2-span5{
				position:absolute;
				color:#A0A0A0;
				font-size:85%;
				top:295px;
				left:22%;
				right:50%
			}
			.box2-img2{
				position:absolute;
				top:280px;
				left:54%;
				width:35px;
			}
			.box2-span6{
				top:268px;
				left:58%;
			}
			.box2-span7{
				position:absolute;
				color:#A0A0A0;
				font-size:85%;
				top:295px;
				left:58%;
				right:20%
			}
			.box2-img3{
				position:absolute;
				width:35px;
				left:17%;
				top:390px;
			}
			.box2-span8{
				top:390px;
				left:22%;
			}
			.box2-span9{
				position:absolute;
				top:417px;
				color:#A0A0A0;
				font-size:85%;
				left:22%;
				right:51%;
			}
			.box2-img4{
				position:absolute;
				top:390px;
				left:54%;
				width:34px
			}
			.box2-span10{
				top:390px;
				left:58%
			}
			.box2-span11{
				position:absolute;
				color:#A0A0A0;
				font-size:85%;
				top:417px;
				left:58%;
				right:17%
			}
			.box3{
				position:relative;
				width:100%;
				height:540px;
			}
			.box3-img{
				position:absolute;
				width:100%;
				height:100%
			}
			.box3-span1{
				position:absolute;
				color:white;
				font-size:190%;
				left:16%;
				font-weight:300;
				top:100px;
				right:62%;
			}
			.box3-span2{
				position:absolute;
				left:16%;
				color:#B0B0B0;
				top:260px;
				right:57%;
				font-weight:100
			}
			.box3-input1{
				position:absolute;
				width:15%;
				height:40px;
				background-color:white;
				border-radius: 2px;
				font-size:60%;
				left:16%;
				top:400px;
				border:none;
				color:#686868 
			}
			.box3-input2{
				position:absolute;
				width:15%;
				height:40px;
				background-color:transparent;
				border:1px solid #B0B0B0;
				border-radius:2px;
				left:33%;
				top:400px;
				font-size:60%;
				color:white
			}
			.box3-div{
				position:absolute;
				width:43%;
				right:0;
				height:400px;
				border:1px solid #D0D0D0;
				border-radius:22px 0 0 22px;
				top:70px
			}
			.box3-box{
				position:absolute;
				width:10px;
				height:10px;
				border:1px solid #D0D0D0;
				border-radius:50%;
				top:49%;
				left:5%
			}
			.box3-box1{
				position:absolute;
				width:90%;
				height:90%;
				right:0;
				background-color:white;
				top:5%
			}
			.box3-box2{
				position:absolute;
				width:28%;
				height:170px;
				border:1px solid #D0D0D0;
				border-radius:2px;
				top:150px;
				left:12%;
				box-shadow:2px 2px 10px #D0D0D0 ;
			}
			.box3-box2>img{
				width:100%;
				height:90px
			}
			.box3-box3{
				position:absolute;
				width:28%;
				height:170px;
				border:1px solid #D0D0D0;
				border-radius:2px;
				top:150px;
				left:45%;
				box-shadow:2px 2px 10px #D0D0D0 ;
			}
			.box3-box3>img{
				width:100%;
				height:90px
			}
			.box3-box4{
				position:absolute;
				width:22%;
				height:170px;
				border:1px solid #D0D0D0;
				border-radius:2px;
				top:150px;
				right:0;
				box-shadow:0px 2px 10px #D0D0D0 ;
			}
			.box3-box4>img{
				width:100%;
				height:90px
			}
			.box3-span3{
				position:absolute;
				color:#707070;
				left:72%;
				top:50px;
				font-size:120%
			}
			.box3-span4{
				position:absolute;
				color:#909090;
				left:45%;
				top:85px;
				font-size:60%
			}
			.box3-span5{
				position:absolute;
				color:#707070;
				top:95px;
				left:6%;
				font-size:50%
			}
			.box3-span6{
				color:#C0C0C0;
				font-size:12px;
				position:relative;
				top:15px;
				left:6%;
			}
			.box4{
				position:relative;
				width:100%;
				height:350px;
				border-bottom:1px solid #D0D0D0 
			}
			.box4-span1{
				position:absolute;
				color:#707070;
				font-size:130%;
				left:38%;
				top:40px;
				font-weight:200;
			}
			.box4-span2{
				position:absolute;
				font-size:120%;
				left:25%;
				top:120px;
				font-family: "comic sans ms";
			}
			.box4-span3{
				position:absolute;
				color:#C0C0C0;
				top:165px;
				left:21%;
				right:63%;
				font-size:12px
			}
			.box4-span4{
				position:absolute;
				font-size:120%;
				left:47%;
				top:120px;
				font-family: "comic sans ms";
			}
			.box4-span5{
				position:absolute;
				top:165px;
				color:#C0C0C0;
				left:42%;
				right:42%;
				font-size:12px;
			}
			.box4-span6{
				position:absolute;
				font-size:120%;
				top:120px;
				right:26%;
				font-family: "comic sans ms";
			}
			.box4-span7{
				position:absolute;
				top:165px;
				color:#C0C0C0;
				left:63%;
				right:21%;
				font-size:12px
			}
			.box5{
				position:relative;
				width:100%;
				height:800px;
				border-bottom:1px solid #D0D0D0 
			}
			.box5-img1{
				position:absolute;
				width:400px;
				height:250px;
				top:100px;
				left:20%
			}
			.box5-span1{
				position:absolute;
				color:#505050;
				top:200px;
				left:62%;
				right:18%;
				font-size:100%;
			}
			.box5-span2{
				position:absolute;
				top:260px;
				color:#989898;
				left:62%;
				right:20%;
				font-size:12px;
			}
			.box5-span3{
				position:absolute;
				top:555px;
				left:20%;
				right:57%;
				color:#505050;
				font-size:100%
			}
			.box5-img2{
				position:absolute;
				top:450px;
				width:420px;
				height:270px;
				right:20%;
			}
			.box5-span4{
				position:absolute;
				top:620px;
				left:20%;
				right:59%;
				color:#989898;
				font-size:12px;
			}
			.box7{
				position:relative;
				width:100%;
				height:500px;
				border-bottom:1px solid #D0D0D0;
			}
			.box7-box{
				position:absolute;
				border:1px solid #D0D0D0;
				border-radius:10px;
				width:320px;
				height:370px;
				left:20%;
				top:60px;
				text-align: center;
			}
			.box7-span1{
				color:#585858;
				font-size:15px;
				position:relative;
				top:30px
			}
			.box7-input{
				position:absolute;
				border:1px solid #D0D0D0;
				width:70%;
				height:30px;
				left:15%;
				padding-left:10px;
				box-sizing: border-box;
				color:#787878;
			}
			.box7-input1{
				top:80px
			}
			.box7-input2{
				top:130px
			}
			.box7-input3{
				top:180px;
				height:90px;
				padding-bottom:63px;
			}
			.box7-input4{
				position:absolute;
				top:300px;
				width:70%;
				left:15%;
				background-color:black;;
				color:white;
				border:none;
				height:30px;
				box-sizing: border-box;
			}
			.box7-input::-webkit-input-placeholder{
				color:#989898;
				font-size:12px
			}
			.box7-span2{
				position:absolute;
				top:100px;
				right:35%;
				font-size:30px;
				font-family:tahoma;
				color:#505050;
				font-weight:50;
			}
			.box7-span3{
				position:absolute;
				color:#989898;
				font-size:12px;
				top:170px;
				left:55%;
				right:24%
			}
			.box7-img1{
				position:absolute;
				top:270px;
				left:55%;
				width:25px
			}
			.box7-img2{
				position:absolute;
				top:320px;
				left:55%;
				width:21px
			}
			.box7-img3{
				position:absolute;
				top:370px;
				left:55%;
				width:25px
			}
			.box7-span4{
				position:absolute;
				color:#505050;
				font-size:12px;
				font-family:"trebuchet ms";
			}
			.box7-span5{
				left:58%;
				top:270px;
				right:27%
			}
			.box7-span6{
				left:58%;
				top:321px;
			}
			.box7-span7{
				left:58%;
				top:368px
			}
			.box8{
				position:relative;
				width:100%;
				height:320px;
				background-color:#141414;
			}
			.box8>ul{
				list-style:none;
				position:absolute;
				color:#787878;
				top:50px;
			}
			.box8-ul1{
				left:12%;
				line-height:35px;
			}
			.box8-ul2{
				left:32%;
				line-height:35px;
			}
			.box8-ul3{
				left:51%;
				line-height:35px;
			}
			.box8-ul4{
				list-style:none;
				position:absolute;
				color:#787878;
				top:50px;
				left:68%;
				right:12%;
			}
			.box8-ul4>li:last-child{position:absolute;
			top:44px}
			.box8-ul4>li:first-child{position:absolute;
			top:9px}
			.box8>ul>li{
				font-size:12px;
				font-family:"lucida sans unicode";
			}
			.box8>ul>li:first-child{color:white}